body{
	font-family: Arial, Helvetica, serif;
	color: #000;
}
p, strong{
	color: #000;
}
white{
	color: white;
	font-family: "Times New Roman", Times, Serif;
}
tamez{
	font-family: "Times New Roman", Times, Serif;
}
#cap1{
	background-image: url(../img/carousel/cerro.png);
	background-color: #222;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%
}
#cap2{
	background-image: url(../img/carousel/pareja.png);	
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%
}
#cap3{
	background-image: url(../img/carousel/niña.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%
}
#myCarousel{
	height: 100%
}
.carousel-caption{
	margin-bottom: 40px;
}
.navbar-default{
	background-color: #000;
}
.timeline > li .timeline-image{
	background-color: #333764;
}
.navbar-default .navbar-brand{
	text-transform: uppercase;	
}
.pantone{
	color: #fa4616;
}
#ache-dos{
	padding-bottom: 25px;
}
#ache-tres{
	color: white;
}
#tel{
	font-size: 15px;
}